{% extends 'layout.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_tables.css') }}"> 

<div class="devices">
    {% include 'header.html' %}
    <div class="bento">
        <div class="divider">
            <div class="divider colored">
                <h1>Current Playlist</h1>
                
                
                {% if context.selected_playlist %}
                    <h3>Playlist : {{ context.selected_playlist.name }}</h3>
                    
                    <div class="tabdiv">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Duration</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if context.files %}
                                    {% for file in context.files %}
                                        <tr>
                                            <td>{{ file.name }}</td>
                                            <td>{{ file.type_file }}</td>
                                            <td>{{ file.time_length }}</td>
                                            <td class="actions-cell">
                                                <div class="buttons-wrapper">
                                                    <a href="{{ url_for('deleteFileFromPlaylist', nom_orga=context.orga, playlist_id=context.selected_playlist.id_playlist, file_id=file.id_file) }}" 
                                                       class="custom-btn btn-red" 
                                                       onclick="return confirm('Confirm deletion?')">
                                                        Delete
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">
                                            No files in this playlist
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h3>No playlist selected</h3>
                    <p class="info-text">
                        Please select a playlist to view and edit its content
                    </p>
                {% endif %}
            </div>   
        </div>
        
        <div class="divider">
            <div class="divider colored">
                <h1>Playlist Choice</h1>
                <div class="choice-playlist">
                    <form method="POST" action="{{ url_for('choosePlaylist', nom_orga=context.orga) }}" class=" miniform">
                        <select name="playlist_id" class="btn-design mini" required>
                            <option value="">-- Choose a playlist --</option>
                            {% for playlist in context.playlists %}
                                <option value="{{ playlist.id_playlist }}" 
                                    {% if context.selected_playlist and playlist.id_playlist == context.selected_playlist.id_playlist %}
                                    selected
                                    {% endif %} >
                                        {{ playlist.name }}
                                </option>
                            {% endfor %}
                        </select>

                        <button type="submit" class="btn-upload mini">
                            Choose Playlist
                        </button>
                    </form>

                    <form method="POST" action="{{ url_for('createPlaylist', nom_orga=context.orga) }}" class="miniform" style="margin-top: 15px;">
                        <input type="text" 
                               name="playlist_name" 
                               class="btn-design mini" 
                               placeholder="New playlist name" 
                               required>
                        <button type="submit" class="btn-upload mini"> Create Playlist </button>
                    </form>
                </div>

            </div>

            {% if context.selected_playlist %}
                <div class="divider colored">
                    <h1>Upload Song</h1>

                    <form method="POST" action="{{ url_for('addFileToPlaylist', nom_orga=context.orga, playlist_id=context.selected_playlist.id_playlist) }}" enctype="multipart/form-data" class="form">
                        <div class="uploadfile">
                            <input type="file" id="file" name="uploadfile" accept=".mp3" class="input-hidden" required>
                            <label for="file" class="btn-design"  id="file-name">
                                Choose file
                            </label>
                        </div>

                        <input type="hidden" id="filename-hidden" name="filename">

                        <select 
                            name="file_type" 
                            class="btn-design">
                            <option value="mp3">Music (MP3)</option>
                            <option value="ad">Advertisement</option>
                        </select>

                        <button type="submit" class="btn-upload">
                            Upload
                        </button>
                    </form>
                </div>
                
                <div class="divider colored">
                    <h1>Misc</h1>

                    <div class="misc">
                        <p>Number of titles: <strong>{{ context.title_count }}</strong></p>
                        <p>Number of ads: <strong>{{ context.ads_count }}</strong></p>
                        <p>Last Updated: <strong>{{ context.selected_playlist.last_update_date }}</strong></p>
                        <form method="POST" action="{{ url_for('deletePlaylist', nom_orga=context.orga) }}" class="miniform">
                            <input type="hidden" name="playlist_id" value="{{ context.selected_playlist.id_playlist }}">

                            <button type="submit" class="mini btn-red deleteplst" onclick="return confirm('Are you sure you want to delete this playlist ? This action can\'t be undone,');">
                                Delete playlist
                            </button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/edit_playlist.js') }}"></script>


{% endblock %}