{% extends 'layout.html' %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/logs.css') }}"> 


    <div class="logs">
        {% include 'header.html' %}
        <div class="bento">
            <div class="divider colored">
                <h1>Logs</h1>

                <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Text</th>
                            <th>Date Logged</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in context.log_list %}
                        <tr>
                            <td>{{log.text_log}}</td>
                            <td>{{log.date_log}}</td>
                            <td>{{log.type_log}}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td> Good news, there is no logs :) </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                               
            </div>
        </div>
    </div>
{% endblock %}