<div class="divider colored">
<a href="{{ url_for('users', nom_orga=context.orga) }}">

    <h1>Users</h1>
    
    <div class="table-scroll-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(LineNb=0) %}
            {% for el in context.us.findUsersInOrganisation(context.orga) %}
                {% if ns.LineNb < 5 %}
                    {% set ns.LineNb = ns.LineNb + 1 %}
                    <tr>
                        <td> {{el}} </td>
                        <td> {{ context.us.findByUsername(el)['role']}}</td>
                    </tr>
                {%endif%}
            {% endfor %}
            
            <!-- Completion of empty lines -->
            {% for i in range(ns.LineNb, 5) %}
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            {% endfor %}
            
        </tbody>
    </table>
    </div>
</a>
</div>