<div class="divider colored">
<a href="{{ url_for('tickets', nom_orga=context.orga) }}">

    <h1>Tickets</h1>

    <div class="table-scroll-container">
    <table>
        <thead>
            <tr>
                <th>Issue</th>
                <th>Date Ticket</th>
                <th>Type</th>
            </tr>
        </thead>

        <tbody>
            {% set context.ticket_list = context.los.getTicketLogs() %}
            {% set ns = namespace(LineNb=0) %}

            {% if context.ticket_list|length > 0 %}
                {% for ticket in context.ticket_list %}
                    {% if ns.LineNb < 5 %}
                        {% set ns.LineNb = ns.LineNb + 1 %}
                        <tr>
                            <td> {{ticket['text_log']}} </td>
                            <td> {{ticket['date_log']}} </td>
                            <td> {{ticket['type_log']}} </td>
                        </tr>
                    {% endif %}
                {% endfor %}

            {% else %}
                <tr>
                    <td> No tickets recorded </td>
                    <td></td>
                    <td></td>
                </tr>
            
            {% endif %}
                
            <!-- Completion of empty lines -->
            {% for i in range(ns.LineNb, 5) %}
                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

</a>
</div>